<footer class="footer">

    <div class="footer-content">

        <p class="footer-quote">
            Every paw tells a story
        </p>

        <p class="footer-love">
            <i class="fa-solid fa-heart"></i>
            Made with love • <strong>Prerna Sharma</strong>
        </p>

        <small>
            © <%= new Date().getFullYear() %>
             Pawtopia <i class="fa-solid fa-paw"></i> All Paws Reserved 
        </small>

    </div>

</footer>

</main>

<script src="/js/script.js"></script>

</body>
</html>