<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucky Pup</title>
</head>
<body>
    <h1>🎲 Lucky Pup</h1>
    <p><%=dogThought%></p>
    <img src="<%=imageLink%>" width="600" height="450" alt ="Dog">
    <br>
    <a href="/random">🔄 Another Lucky Pup</a>
    <br>
    <hr>
    <a href="/">🏠 Back to Home</a>
</body>
</html>